// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-responsive
{
    background-repeat: no-repeat;
    background-position: 100%;
}
.bg-responsive-cover
{
    background-size: cover
}
.bg-responsive-contain
{
    background-size: contain
}
.bg-semi-transparent
{
    background-color: #1855c5a0
}
.box-amount-last-movement
{
    min-height: 82px
}
.preview-background-card
{
    height: 150px;
}
.btn-edit-header
{
    position: absolute;
    top: 5px;
    right: 5px;
}
